streamlit
google-generativeai
numpy
beautifulsoup4
google-api-core
google.genai
sentence-transformers
chromadb 
arize-phoenix-otel
openinference-instrumentation-google-genai
opentelemetry-sdk
opentelemetry-exporter-otlp